<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>All Events</h1>

<h2>Events</h2>
<ul>
    <li th:each="event : ${events}">
        <h3 th:text="${event.name}">Event Name</h3>
        <p>Date: <span th:text="${event.date}">Event Date</span></p>
        <p>Duration: <span th:text="${event.duration}">Event Duration</span> minutes</p>
        <p>Description: <span th:text="${event.description}">Event Description</span></p>
        <p>Place: <span th:text="${event.place}">Event Place</span></p>
        <p>Time: <span th:text="${event.time}">Event Time</span></p>
        <p>Ticket Price: $<span th:text="${event.ticketPrice}">Event Ticket Price</span></p>
        <p>Capacity: <span th:text="${event.capacity}">Event Capacity</span> people</p>
        <p>Image: <img th:src="@{data:image/png;base64,${event.image}}" alt="Event Image" width="100" /></p>
        <p>Organisation: <span th:text="${event.organisationDTO?.name ?: 'No Organisation Name'}">No Organisation Name</span></p>
        <p>Type: <span th:text="${event.eventTypeDTO?.typeName ?: 'No Event Type'}">No Event Type</span></p>
    </li>
</ul>

<h2>Event Types</h2>
<ul>
    <li th:each="type : ${eventTypes}">
        <p th:text="${type.typeName}">Event Type Name</p>
    </li>
</ul>
</body>
</html>
